[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"

[packages]
flask = "==1.0.1"
python-dotenv = "*"
flask-sqlalchemy = "*"
pylint-flask = "*"
flask-login = "*"
dotenv = "*"

[requires]
python_version = "3.6"
